

.navMenu{
    list-style-type: none;
    display: flex;
    margin-top: 2rem;
    padding-left: 0;
    border-bottom:solid 1px #a5a5a5;
} 

.navMenu li{
    padding-bottom: .5rem;
    margin-right: .2rem;
}

.navMenu li a{
    padding-left: .75rem;
    padding-right: .75rem;   
    padding-bottom: .5rem;
    color:#212843
}
.active,.navMenu li a:hover{
    border-bottom: solid 2px #6cb043;
    color:#6cb043;   
    margin-bottom: -2px;
    text-decoration: none;
}


.title{
    color:#212843;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}