.mymodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  padding: 0.5% 1% 1%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.head img {
  height: 90%;
  margin: .2rem;
}
.head > div {
  display: inline-block;
  vertical-align: bottom;
}
.floatContent{display:flex;}

.floatContent > div{
  flex:1;
  white-space: nowrap;
  justify-content: space-between;
}
.left{
   justify-content: flex-start;
}
.right{
text-align: right;  margin-left: 3rem
}
.center{
  text-align: center;
}
 
.modal-body{
  margin-top: .5rem;
}

.modal-body > div{
  margin: .25rem 0;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
