.calendarPopover{
  position: absolute;
  margin-left: -3rem;
  margin-top: -4rem;
}


.container-inner-header {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 0 50px;
  text-align: center;
}
.container-inner-body {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 0 100px;
  text-align: center;
}

.table-grid {
  width: 100% !important;
  text-align: center;
  border-radius: 10px;
  font-size: x-small;
  -webkit-box-shadow: -1px 4px 5px 3px rgba(240, 240, 240, 1);
  -moz-box-shadow: -1px 4px 5px 3px rgba(240, 240, 240, 1);
  box-shadow: -1px 4px 5px 3px rgba(240, 240, 240, 1);
}

.avator {
  width: 50px;
  height: 50px;
}

thead{
    background-color: #F1F1F4;
}
thead tr th{
  padding: 10px;
  color: #5D6E8F;
  text-transform: uppercase;
}
thead tr th,
tbody tr td{
  text-align: left;
}

tbody tr {
  height: 100px;
  border-bottom: 1px solid #e8e8e8;
}

tbody tr td img{
  margin-right: 4px;
  height: 20px;
}
tbody tr td{
  padding: 10px;
}
.text-bold{
  font-weight: bold;
}
.text-italic{
  font-style: italic;
}
.actions {
  display: flex;
  flex-direction: row;
}
.actions div{
  margin-right: 20px;
}

thead th {
  font-size: .9rem;
}

