.App {
  text-align: center;
  color:#282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.myTab{
  border:0px;
}


.smallText{
  color: #a5a5a5;
  font-size: .6rem;
  font-style: italic;
 }

 .bold{
   font-size: .8rem;
   color:#6e6e6e;
   font-weight: bold;
 }